

.textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.compareResult {
  margin-top: 20px;
}

.answerRow {
  display: flex;
  margin-top: 10px;
}

.col1 {
  width: 80px;
}

.inputComparedRow {
  /* display: flex; */
}
